<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" type="image/png" href="img/react.png">
    <link href="styles/uikit.almost-flat.min.css" rel="stylesheet">
    <link href="styles/fluxapp.css" rel="stylesheet">
  </head>
  <body>
    <div id="flux-app">If you see this then something is wrong.</div>
  </body>
</html>
